.searchBar {
  width: 35%;
  border: 3px solid #116466;
  padding: 5px;
  margin-right: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #116466;
  font-weight: bold;
}

.okButton {
  height: 33px;
  width: 33px;
  padding: 5px;
  border-radius: 5px;
  background-color: #d9b08c;
  color: #2c3531;
  font-weight: bold;
  cursor: pointer;
}

.okButton:hover {
  color: #d1e8e2;
}
