.weatherHeader {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: center;
  margin-top: 10px;
  margin-right: 10px;
}

.conditionIcon {
  padding: 13px 10px;
}

.headerText {
  float: none;
}
